html {
    font-size: 10px;
}

#contact {
    margin: auto;
    font-weight: 100;
    width: 20vw;
    height: fit-content;
    padding: 0 0 10px 0;
    background-color: lightgray;
    color: #fff;
}

div {
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    background-color: cadetblue;
    padding: 10px;
}

form input,
form textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    width: 85%;
}