/* -----------------------------
Importe und Asswets
--------------------------------*/

/* -----------------------------
General Styling
--------------------------------*/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
} */

/* -----------------------------
General Styling
--------------------------------*/

.placeholder::placeholder {
    color: red;
    font-style: italic;
}

/* -----------------------------
General Styling
--------------------------------*/


/* -----------------------------
General Styling
--------------------------------*/