html {
    font-size: 10px;
}

fieldset {
    margin: auto;
    font-weight: 100;
    width: fit-content;
    height: fit-content;
    padding: 0 0 10px 0;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

legend {
    margin: 0 0 0 40px;
}

table {
    padding: 10px
}

table td {
    padding: 0 30px 0 30px;
}

input[type="reset"],
input[type="submit"] {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    filter: invert(1);
}