/* -----------------------------
Importe und Asswets
--------------------------------*/

/* -----------------------------
General Styling
--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

/* -----------------------------
General Styling
--------------------------------*/


/* -----------------------------
General Styling
--------------------------------*/


/* -----------------------------
General Styling
--------------------------------*/