* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

#contact {
    margin: 10% auto;
    font-weight: 100;
    width: 30vw;
    height: fit-content;
    padding: 0 0 10px 0;
    color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
}

legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif font-size:2rem;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

legend h1 {
    font-size: 4rem;
}

legend p {
    font-size: 1.6rem;
}

h2 {
    background-color: #fff;
    color: cadetblue;
    font-size: 2.5rem;
    padding: 25px 0 5px 15px;
}

h2:before {
    position: relative;
    left: -25px;
    background-color: cadetblue;
    color: #fff;
    content: " 1 ";
    border-radius: 10px;
}

fieldset {
    background-color: #cfcfcf;
    width: 80%;
    margin: 5px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

fieldset label {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset input,
fieldset textarea {
    width: 100%;
    margin: auto;
}

#submit {
    color: #000;
    width: 80%;
    margin: 5px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

#submit input[type="submit"] {
    color: #fff;
    background-color: cadetblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#submit input[type="checkbox"] {
    position: relative;
    left: 40%;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 5px auto 0 10px;
    border-radius: 5px;
    text-align: right;
}

#submit label {
    position: relative;
    left: 40%;
}